/*-----------Global Styles Starts-----------*/

@font-face{
	font-family: SharpSans-Bold;
	src:  url(Fonts/SharpSans-Bold.ttf) format("truetype");

} 


html, body{
	width: 100%;
	background: #000;
	overflow-x: hidden;
	scroll-behavior: smooth;
	margin: 0px;
	padding: 0px;
	font-family: 'SharpSans-Bold';
  background: url(images/Background.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


a{
	color: #32325D;
	text-decoration: none;
}

i{
	color: #32325D;
	font-size: 22px;
	cursor: pointer;

}




.container{
	max-width: 1440px;
	padding: 20px 20px;
	margin-left: auto;
	margin-right: auto;

}






/*-----Navbar Starts-----*/
.nav-columns{
	display: flex;
}

.nav-columns .column1{
	width: 50%;
	display: flex;
	align-items: center;
	column-gap: 40px;
}

.nav-columns .column1 .logo{
	display: flex;
	align-items: center;
}
.nav-columns .column1 .logo img{
	width: 143px;
	height: auto;
}

.nav-columns .column1 .links{
	display: flex;
	align-items: center;
	column-gap: 44px;
	color: #32325D;


}

.fa-bars{
	display: none;
}

.nav-columns .column2{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: right;
	column-gap: 18px;

}




.nav-columns .column2 .button{
	display: flex;
	align-items: center;
	column-gap: 16px;
}


.nav-columns .column2 .button .button1{
	color: #32325D;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
	padding: 13px 16px;
	background: #FFFFFF;
	border: 1px solid #E6EAF3;
	box-sizing: border-box;
	box-shadow: 0px 1px 2px rgba(50, 50, 93, 0.05);
	border-radius: 48px;
	
}

.nav-columns .column2 .button .button2{
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 24px;
	cursor: pointer;
	padding: 12px 24px;
	background: #32325D;
	box-shadow: 0px 1px 2px rgba(50, 50, 93, 0.05);
	border-radius: 48px;
	
}

/*-----Mobile Navigation-----*/
.mobile-navigation{
	display: none;
	width: 30%;
	height: 100vh;
	padding: 20px;
	position: fixed;
	right: 0;
	top: 0;
	background: #32325D;
	z-index: 500;
	transition: 1s;
}



.fa-times{
	color: #fff!important;
	z-index: 999;
	position: absolute;
	top: 20px;
	right: 20px;
}

.mobile-navigation .elements{
	display: grid;
	display: grid;
  justify-items: center;
  margin-top: 50%;
  width: 100%;

}

.mobile-navigation .elements a{
	color: #fff;
	margin-bottom: 16px;
}

.mobile-button1{
	width: 100%;
	max-height: 50px;
	color: #32325D;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 32px;    
	display: flex;
  align-items: center;
  justify-content: center;
	cursor: pointer;
	background: #FFFFFF;
	border: 1px solid #E6EAF3;
	box-sizing: border-box;
	box-shadow: 0px 1px 2px rgba(50, 50, 93, 0.05);
	border-radius: 48px;
}

.mobile-button2{
	width: 100%;
	max-height: 50px;
	color: #fff;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 32px;    
	display: flex;
  align-items: center;
  justify-content: center;
	text-align: center;
	cursor: pointer;
	margin-top: 16px;
	background: #6e6ec1;
	box-shadow: 0px 1px 2px rgba(50, 50, 93, 0.05);
	border-radius: 48px;
}

@media only screen and (max-width: 500px){
		.mobile-navigation{

				width: 50%;
			}
}



@media only screen and (max-width: 950px){

.nav-columns .column1 .links, .nav-columns .column2 .button{

	display: none;

}

.fa-bars{
	display: inherit;
}




}



/*-----Navbar Ends-----*/



/*----- Slides -----*/

.img-slider{
	width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}



.img-slider .slide{
  z-index: 1;
  position: absolute;
  width: 100%;
  clip-path: circle(0% at 0 50%);

}

.img-slider .slide.active{
  clip-path: circle(150% at 0 50%);
  transition: 3s;
  transition-property: clip-path;
}



.img-slider .slide .info{
   max-width: 1080px;
   padding: 20px 20px;
   margin-left: auto;
   margin-right: auto;

}


.slide .info .columns{
	display: flex;
	align-items: center;
}

.slide .info .columns .column1{
	width: 50%;
}

.slide .info .columns .column2{
 	width: 50%;
 	display: flex;
 	align-items: center;

}


.slide .info .columns .column1 h1{
	font-style: normal;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 16px;
	background: linear-gradient(to right, #7000E9 -64.69%, #FF00C5 -16.6%, #FF0076 20.16%, #005CE3 70.8%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}


.slide1-heading{
	font-size: 48px;
	line-height: 120%;	
}	

.slide2-heading{
	font-size: 42px;
	line-height: 120%;	
}	

.slide3-heading{
	font-size: 35px;
	line-height: 120%;	
}	


.slide .info .columns .column1 p{
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 140%;
	color: #33335E;
}


.buttons .button1{

	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: #FFFFFF;
	cursor: pointer;
	padding: 12px 24px;
	margin-top: 32px;
	margin-bottom: 16px;
	border:  none;
	background: linear-gradient(91.99deg, #7000E9 -64.69%, #FF00C5 -16.6%, #FF0076 43.16%, #005CE3 147.8%);
	box-shadow: 0px 8px 20px rgba(90, 75, 180, 0.05);
	border-radius: 32px;
}

.buttons .button2{
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	color: #32325D;
	cursor: pointer;
	padding: 12px 24px;
	margin-left: 24px;
	border:  none;
	background: rgba(255, 255, 255, 0.8);
	border: 1px solid #E6EAF3;
	box-sizing: border-box;
	box-shadow: 0px 8px 20px rgba(90, 75, 180, 0.05);
	border-radius: 32px;
}




.slide .info .columns .column2 img{

		width: 337px;
		height: auto;
		margin-left: auto;
		margin-right: auto;
 
}


/*----- Slides Navigation-----*/

.img-slider .navigation{
  z-index: 2;
  position: absolute;
  right: 0;
  transform: translateX(-50%);
}

.img-slider .navigation .btn{
  background: #33335e57;
  width: 12px;
  height: 12px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.img-slider .navigation .btn.active{
  background: #FF0177;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}







@media only screen and (max-width: 950px){


.slide .info .columns .column1{
	width: 60%;
}

.slide .info .columns .column2{
 	width: 40%;
	text-align: center;

}


.slide1-heading{
	font-size: 28px;
	line-height: 38px;	
}	

.slide2-heading{
	font-size: 28px;
	line-height: 38px%;	
}	

.slide3-heading{
	font-size: 22px;
	line-height: 32px;	
}	

.buttons .button2{
	margin-left: 0px;
}

.slide .info .columns .column2 img{

		width: 220px;
		height: auto;
 
}



}



@media only screen and (max-width: 500px){



.img-slider{
	padding-top: 30px;
	width: 100vh;
  height: 700px;
}


.img-slider .slide{
	left: 0;
}


.slide .info .columns{
	display: block;
}

.slide .info .columns .column1{
	width: 100%;
}

.slide .info .columns .column2{
 	width: 100%;
	text-align: center;

}


}